*{
margin:0;
padding:0;
}
.titulo{
    text-align: center;
    font-family: sans-serif;
    margin top :30px;
    color:sandybrown;
}
.titulo2{
    text-align: center;
    font-family: sans-serif;
    margin top:30px;
    font-size: 80px;
    color:hotpink;
    transition: 0.8s;
}
.caja{
    width: 300px;
    height: 400px;
    background-color:cyan;
    margin: auto;
    margin-top: 30px;
}
.caja2{
    height: 300px;
    transition: 0.10s;
}
.boton{
    width: 100px;
    height: 25px;
    background-color:mediumspringgreen;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    font-family: sans-serif;
    cursor: pointer;
}